/* Resets */
*,
*::after,
*::before{
  box-sizing: border-box;
}

*{
  margin:0;
  padding:0;
  list-style: none;
  
}

/* Sidebar */

.grid-container{
  display: grid;
  grid-template-columns: 170px 1fr;

}

.sidebar-container{
  grid-area: sidebar;
  height:100vh;
  background-color:rgb(235, 252, 137);
}

.icon-container{
  text-align: center;
  padding-top:13px;
}

.icon-container > p {
  font-family:'Roboto',Arial, Helvetica, sans-serif;
  font-size:1.2rem;
  color:rgb(50, 88, 3);
}

.sidebar-container p::before{
  display: inline-block;
  content: '';
  background-image: url(/assets/view-dashboard.svg);
  height:30px;
  width:30px;
  margin-right:5px;
  vertical-align: middle;
  background-size: contain;
}
.links-container{
  padding-top:46px;
}
.links-container ul{
width:100%;
display: flex;
flex-direction: column;
justify-content: center;
gap:15px;
align-items: flex-start;
padding-left:30px;
}

.icon{
  width:20px;
  height:20px;
  vertical-align: middle;
  margin-right:4px;
}

.links-container ul li{
  color:white;
  width:100%;
  background-color: rgb(143, 195, 22);
  padding-top:5px;
  padding-bottom: 5px;
  padding-left:5px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border:1px solid white;
  box-shadow: 0px 3px 5px rgba(0,0,0,.15);
  transition: all 0.15s ease;
}

.links-container ul li:hover{
  background-color:white;
  color:black;
  padding-top:5px;
  padding-bottom: 5px;
  padding-left:5px;
}

.lower-links{
  padding-top:46px;
}
.lower-links ul{
 width:100%;
display: flex;
flex-direction: column;
justify-content: center;
gap:15px;
align-items: flex-start;
padding-left:30px;
}

.lower-links ul li{
  color:white;
  width:100%;
  background-color: rgb(143, 195, 22);
  padding-top:5px;
  padding-bottom: 5px;
  padding-left:5px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border:1px solid white;
  box-shadow: 0px 3px 5px rgba(0,0,0,.15);
  transition: all 0.15s ease;
}
.lower-links ul li:hover{
  background-color:white;
  color:black;
  padding-top:5px;
  padding-left:5px;
}



/* Header */

.header-container{
  grid-area: header;
  background-color: rgb(239, 229, 121);
  height:20vh; 
  max-height:125px;
  
 }

 .search-container{
  padding-top:15px;
  display:flex;
  flex-direction: row;
  align-items: center;
  
 }

img[src="assets/magnify.svg"]{
  margin-left:50px;
}

.search-container input{
  width:100%;
  margin-left:5px;
  max-width:800px;
  height:30px;
  border-radius:20px;
  border:none;
}

img[src="assets/bell-ring.svg"]{
  margin-left:50px;
  margin-right:30px;
}


.profile-container{
  margin-right:30px;
  width:40px;
  height:40px;
  background:url(images/d2c1ae2ac932a571812e2ba7c133fee8.jpg);
  background-size:cover;
  border-radius:50%;
}

.search-container span{
  font-weight:bold;
  font-family: 'Roboto',Arial, Helvetica, sans-serif;
  font-size:1.2rem;
}

.about-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-top:10px;
}
.profile{
  margin-left:50px;
  width:50px;
  height:50px;
}
.welcome-text{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left:-10px;
}

.welcome-text span:first-child{
font-size:0.7rem;
font-weight:bold;
font-family:'Roboto',Arial, Helvetica, sans-serif;
}
.welcome-text span:nth-child(2){
  font-weight:bold;
  font-family:'Roboto',Arial, Helvetica, sans-serif;
}

.header-container div:last-child{
  margin-left:10px;
}

.button-container{
display: flex;
flex:1;
justify-content: flex-end;
margin-right:50px;
gap:20px; 
}

 button{
  padding:8px 10px;
  width:100px;
  border-radius:20px;
  border:1px solid white;
  background-color:rgb(143, 195, 22);
  color:white;
  box-shadow: 0px 3px 5px rgba(0,0,0,.15);
  cursor: pointer;
  transition: all 0.15s ease;
}

button:hover{
  background-color:white;
  color:black;
  padding:8px 10px;
}


.main-container{
grid-area: main;
background-color: rgb(199, 241, 199);

}


.grid{
  display:grid;
  grid-template-columns: 350px 350px;
  grid-template-rows:150px 150px 150px;
  column-gap:10px;
  row-gap: 10px;
  height:82vh;
  padding-top:15px;
}

.first-element{
  padding-top:10px;
  border-radius:6px;
  background-color:white;
  margin-left:30px;
  margin-top:20px;
  box-shadow: 3px 3px 5px rgba(6, 6, 6, 0.25);
  border-left:  5px solid rgb(68, 233, 68);
}

.first-element div:first-child{
display:flex;
flex-direction: column;
justify-content: flex-start;
padding-left:15px;
padding-top:10px;
}
.first-element div span{
  font-weight:bold;
  font-family:'Roboto',Arial, Helvetica, sans-serif;
}
.first-element div p{
  width:300px;
  font-size:0.8rem;
  font-family:'Roboto',Arial, Helvetica, sans-serif;
}

.first-element div:nth-child(2){
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
  padding-right:15px;
  gap:10px;
  padding-top:10px;
}